{   "root": true,
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": 2021,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb"
    ],
    "rules": {
        "import/extensions": [
            "error",
            "never"
        ],
        "no-alert": "off",
        "eol-last": "off",
        "no-tabs":"off",
        "indent": ["error", 2],
        "react/prop-types": 0,
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}