{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "airbnb"
    ],
    "rules": {
        "import/extensions": "off",
        "no-alert": "off",
        "eol-last": "off",
        "no-tabs":"off",
        "indent": [2, "tab"]
    }
}